/*Font style*/
.koho-style{
    font-family: 'KoHo', sans-serif;
    font-size: 28px;
}

/*Image Margin style*/
.img-thumbnail{
    margin: 5px;
}

/*Filter button hoover and style*/
.btn {
    background-color: white;
    color: black;
    border: 1px solid #ffffff;
    font-size: 28px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #bfbfbf; /* Green */
    color: white;
}


/*Image hover style*/
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1a4876;
}

.img-container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-family: 'KoHo', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Styling year in mainview*/
.year-content{
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #1a4876;
}

.detail-title{
  font-family: 'KoHo', sans-serif;
  font-weight: 900;
  font-size: 45px;
  text-align: left;
}

.detail-description{
  font-family: 'KoHo', sans-serif;
  font-size: 22px;
  text-align: left;
}

.detail-title-content{
  font-family: 'KoHo', sans-serif;
  font-weight: Bold;
  font-size: 40px;
  text-align: left;
}

.for-height{
  height: 20vh;
}

/*Fade Transition*/
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


/*slide Transition*/
.slide.enter{
  opacity:0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}

.slide-enter.slide-enter-active{
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.slide-exit{
  opacity: 1;
  transform: scale(1) translateY(5px);
  transition: opacity 150ms linear, transform 150ms ease-out;
}

.slide.exit.done{
  opacity :0;
}

.filter-center{
  text-align: center;
}
